<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interest.dao.ClientDao">
    <resultMap id="clientMap" type="com.interest.model.entity.ClientEntity">
        <id column="ID" property="ID"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <!-- 新建用户信息 -->
    <insert id="insertUser" parameterType="UserEntity">
        insert into myusers (ID,username,password,email,name,phone,createTime)
        values
        (#{ID},#{username},#{password},#{email},#{name},#{phone},#{createTime})
    </insert>
</mapper>